:root {
  --accent-color: #777777;
  --heading-color: #000000;
  --primary: #ea625c;
  --primary-dark: #c9514c;
  --color-white: #ffffff;
}
/* FONT-FACE  */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

/* GLOBAL  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-white);
  color: var(--accent-color);
}

img {
  max-width: 100%;
  height: auto;
}

*:focus  {
  outline: 2px dashed var(--primary);
  outline-offset: 2px;
}

/* CONTAINER  */

.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--color-white);
  transition: background-color 0.4s ease;
}

.button:hover {
  background-color: var(--primary-dark);
}
.button:active {
  opacity: 0.6;
}
/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}

/* SITE-HEADER  */

.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-logo {
  margin-right: auto;
  transition: opacity 0.4s ease;
}
.site-header-logo:hover {
  opacity: 0.8;
}
.site-header-logo:active {
  opacity: 0.6;
}
.site-header-logo-img {
  display: block;
  width: 35px;
  height: 42px;
  object-fit: contain;
}
.sitenav {
  margin-right: 40px;
}
.sitenav-lists {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav-item:not(:last-child) {
  margin-right: 30px;
}
.sitenav-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 3px;
  text-decoration: none;
  font-size: 15px;
  border-bottom: 3px solid transparent;
  color: #333333;
  transition: border-bottom 0.3s ease;
}
.sitenav-link:hover {
  border-bottom: 3px solid #333333;
}

.search-field {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 400;
  line-height: 22.5px;
  border:0;
  border-bottom: 1px solid #333333;
  color: #666666;
}

/* MAIN-CONTENT */

/* HERO  */
.hero {
  padding-top: 140px;
  padding-bottom: 185px;
  border-bottom: 2px solid #dddddd;
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left calc(50% + 550px) bottom;
}

/* LEAD-CTA */

.lead-cta {
  width: 100%;
  max-width: 490px;
}
.lead-cta-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: var(--heading-color);
}
.lead-cta-text {
  padding-left: 37px;
  border-left: 3px solid #888888;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 24px;
  color: var(--accent-color);
}

/* RETINA BG  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/intro-bg@2x.jpg");
  }
}